@font-face {
    font-family: 'poppins';
    src: url('fonts/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    padding: 60px;
    background-image: url(images/ariana1.jfif);
    background-size: cover;
    background-position: center 30%;
    font-family: 'poppins';
}

header {
    color: aliceblue;
    text-align: center;
    margin-bottom: 60px;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

header h2 {
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


/* MAIN */


/* quiz questions */
#qCards {
    background-color: rgba(241, 227, 213, 0.09);
    backdrop-filter: blur(7px);
    box-shadow: 0px 4px 10px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Qs {
    background-color: rgba(143, 25, 194, 0.512);
    padding: 15px;
    border-radius: 7px;
    color: rgb(241, 236, 229);
}

.questions {
    color: white;
}

.opt {
    padding: 10px;
    background-color: rgb(106, 103, 136);
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.opt:hover {
    filter: brightness(120%);
}

/* Clicked Option */
.clicked {
    background-color: rosybrown;
}

/* button */
.button-wrapper {
    display: flex;
    justify-content: space-between;
}

#submit,
#back {
    background-color: rgb(236, 203, 159);
    color: darkviolet;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    width: 90px;
}

#back {
    text-align: center;
    text-decoration: none;
}

/* Display score */
#displayScore,
.backFromDS {
    color: bisque;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: black 2px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.scoreSpan {
    color: rgb(94, 193, 198);
}

.backFromDS-wrapper {
    margin: 90px;
}

.backFromDS {
    text-decoration: none;
    text-shadow: none;
    transition: all 0.4s;

}

.backFromDS:hover {
    letter-spacing: 3px;
    text-shadow: rgb(94, 193, 198) 10px 2px;
}

.backFromDS:active {
    text-decoration: none;
    text-shadow: none;
    transition: all 0.4s;
}

.backFromDS-wrapper {
    text-align: center;
}

.arianator-level {
    background-color: rgb(150, 114, 184);
    text-decoration: none;
    text-shadow: none;
}